@font-face {
	font-family: 'Open Sans';
	src: url('./assets/fonts/OpenSans.woff');
}
@font-face {
	font-family: 'Open Sans Bold';
	src: url('./assets/fonts/OpenSans-Bold.woff');
}
@font-face {
	font-family: 'Open Sans Bold Italic';
	src: url('./assets/fonts/OpenSans-BoldItalic.woff');
}
@font-face {
	font-family: 'Open Sans Extra Bold';
	src: url('./assets/fonts/OpenSans-Extrabold.woff');
}
@font-face {
	font-family: 'Open Sans Extra Bold Italic';
	src: url('./assets/fonts/OpenSans-ExtraboldItalic.woff');
}
@font-face {
	font-family: 'Open Sans Italic';
	src: url('./assets/fonts/OpenSans-Italic.woff');
}
@font-face {
	font-family: 'Open Sans Light';
	src: url('./assets/fonts/OpenSans-Light.woff');
}
@font-face {
	font-family: 'Open Sans Light Italic';
	src: url('./assets/fonts/OpenSansLight-Italic.woff');
}
@font-face {
	font-family: 'Open Sans SemiBold';
	src: url('./assets/fonts/OpenSans-Semibold.woff');
}
@font-face {
	font-family: 'Open Sans SemiBoldItalic';
	src: url('./assets/fonts/OpenSans-SemiboldItalic.woff');
}
@font-face {
	font-family: 'Pacifico';
	src: url('./assets/fonts/Pacifico.woff');
}
$font__main: 'Open Sans';
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: 'Open Sans';
$font__opsanbold: 'Open Sans Bold';
$font__opsanboldi: 'Open Sans Bold Italic';
$font__opsanexbold: 'Open Sans Extra Bold';
$font__opsanexboldi: 'Open Sans Extra Bold Italic';
$font__opsani: 'Open Sans Italic';
$font__opsanlight: 'Open Sans Light';
$font__opsanlighti: 'Open Sans Light Italic';
$font__opsansemibold: 'Open Sans SemiBold';
$font__opsansemiboldi: 'Open Sans SemiBoldItalic';
$font__pacifico: 'Pacifico';
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__h1-title: 3.5rem;