.main-navigation {
	clear: both;
	display: block;
	width: 100%;

	button {
		position: absolute;
		top: -1.2rem;
    	margin-top: -2.2rem;
		height: 2.2rem;
		background: transparent;
		border: none;
		z-index: 100;

		.hang-a-bur {
			position: relative;
			display: block;
			width: 24px;
			height: 3px;
			margin: 5px 0;
			opacity: 1;
			background: #FCFC0D;
			@include prefix( transition, all 0.2s ease-in-out, webkit moz o);
			
			&-top {
				top: 0;
			}
			
			&-bottom {
				bottom: 0;
			}
		}

		&[aria-expanded="true"] {
			
			.hang-a-bur-top {
				top: 0.5rem;
				@include prefix( transform, rotate(220deg), webkit moz o );
			}

			.hang-a-bur-mid {
				opacity: 0;
			}

			.hang-a-bur-bottom {
				bottom: 0.5rem;
				@include prefix( transform, rotate(-220deg), webkit moz o );
			}
		}

		&:active,
		&:focus {
			outline: none;
		}
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}