.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	position: absolute;
	background: rgba( #000, .9 );

	button {
		position: absolute;
		bottom: 100%;
		height: 2.2rem;
		background: transparent;
		border: none;
		z-index: 100;

		.hang-a-bur {
			position: relative;
			display: block;
			width: 26px;
			height: 3px;
			margin: 5px 0;
			left: 0;
			opacity: 1;
			background: #FCFC0D;
			@include prefix( transition, all 0.2s ease-in-out, webkit moz o);
			
			&-top {
				top: 0;
			}
			
			&-bottom {
				bottom: 0;
			}
		}

		&[aria-expanded="true"] {
			
			.hang-a-bur-top {
				top: 0.5rem;
				@include prefix( transform, rotate(220deg), webkit moz o );
			}

			.hang-a-bur-mid {
				opacity: 0;
				left: -100%;
			}

			.hang-a-bur-bottom {
				bottom: 0.5rem;
				@include prefix( transform, rotate(-220deg), webkit moz o );
			}
		}

		&:active,
		&:focus {
			outline: none;
		}
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: none;
		position: relative;

		&:not(:first-child) {
			border-top: 1px solid #fff;
		}

		&:hover > a,
		&.focus > a {

			&:after {
				height: 3px;
			}
		}
	}

	a {
		position: relative;
		padding: 8px;
		display: block;
		text-decoration: none;

		&:after {
			content: "";
			position: absolute;
			display: inline-block;
			background: #c3fc06;
			height: 0;
			bottom: -3px;
			left: 0;
			right: 0;
			@include prefix( transition, all 0.2s ease-in-out, webkit moz o);
		}
	}

	.current_page_item > a,
	.current-menu-item > a {

		&:after {
			height: 3px;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled {
	border: 1px solid #fff;
	ul {
		display: block;
	}
}


@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation {
		position: relative; 
		background: transparent;

		&.toggled ul {
			display: flex;
		}

		ul {
			display: flex;

			li {

				&:not( :first-child ) {
					border: none;
				}
			}
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}