#page {
	position: relative;
	min-height: 100%;
}

.sticky {
	display: block;
}

/**
 * Header 
 */

#masthead {
	position: relative;
	min-height: 240px;
	background: rgba(0, 0, 0, .5);
	z-index: 100;

	> .row {
		margin-top: 15px;
	}

	a, i {
		color: #fff;
	}
	
	.custom-logo {
		display: flex;
		align-items: center;
		justify-content: center;

		.site-logo {
			max-width: 325px;
		}

		a {
			display: inline-block;
		}
	}

	.account-row {
		margin: 8px 0;

		#sub-menu-icons {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			form {
				overflow: hidden;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-around;
				@include prefix( transition, all .3s ease-in-out, webkit moz o );

				div.search-input-wrap {
					overflow: hidden;
					@include prefix( transition, all .3s ease-in-out, webkit moz o );
				}
				input.slid {
					@include prefix( transition, all .3s ease-in-out, webkit moz o );
					position: relative;
					left: 105%;

					&.active {
						left: 0%;
					}
				}

				#search-btn {
					@include prefix( transition, all .3s ease-in-out, webkit moz o );
					margin: 0 8px;
				}
			}
		}
	}

	.nav-row {
		width: 100%;

		> .col {
			align-self: flex-end;
		}
	}

	#site-navigation {
		max-width: 100%;
		float: none;
		@include prefix( transition, all .3s ease-in-out, webkit moz o );

		@include media-breakpoint-up( md ) {
			float: right;
		}

		@include media-breakpoint-up( lg ) {
			max-width: 80%;
		}
	}

	#primary-menu {
		align-items: center;
		justify-content: space-between;
		text-transform: uppercase;
		@include font-size(1);
	}

	@include media-breakpoint-up( md ) {
		min-height: 140px;
	}
}

/**
 * End Header
 */

#backdrop {
	position: absolute;
	top: 0;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 700px;
}

#primary {
	position: relative;
	min-height: 425px;
}

.keep-word {
	text-transform: uppercase;
	font-family: $font__opsanbold;
}

.calm-word {
	text-transform: uppercase;
	font-family: $font__main;
}

.arrow-message-row {
	align-items: center;
	justify-content: center;

	> .col-sm {
		display: flex;
		align-items: center;
		justify-content: center;
		
		div {
			background: url('./assets/img/arrow.svg');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100%;
			height: 105px;
			width: 300px;
		    margin: 25px auto;
		    padding: 0 25px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
			
			.arrow-message {
				position: relative;
				color: #fff;
				width: 100%;
				max-width: 475px;
				font-family: $font__opsani;
				line-height: 1.1;
				@include font-size(1.1);

				.keep-word {
					@include font-size(1.5);
				}

				.upper-message {
					@include font-size(1.5);
				}

				.bottom-row-message {
					display: block;
					clear: both;
					@include font-size(1.5);
				}
			}
		}
	}


	@include media-breakpoint-up( md ) {

		> .col-sm {

			div {
				height: 160px;
				width: 400px;

				.arrow-message {
					line-height: 1;
					@include font-size(1.7);

					.keep-word {
						@include font-size(2.1);
					}

					.upper-message {
						@include font-size(2.1);
					}

					.bottom-row-message {
						@include font-size(2);
					}
				}
			}
		}
	}
}


.address-form-row {

	align-items: center;
	justify-content: center;

	> .col-sm {

		#address-submit {
			position: relative;
			display: flex;
			align-items: center;
			height: 35px;
			line-height: 2.3;

			.form-fields-wrap {
				display: flex;
				align-items: center;
				margin: 0 auto;
				max-width: 100%;
				@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .4 ), webkit moz o );
			}

			.marker-wrap {
				color: #fff;
				padding: 0 15px;
				border: none;
				box-sizing: border-box;
				background: rgba( #000, .6 );
				@include font-size(1);
				@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .4 ), webkit moz o );
			}

			input {
				padding: 8px;
				height: 35px;
				border: none;
				@include font-size(.7);
				margin: 0;
			}

			#autocomplete {
				width: 65%;
			}

			input[type="submit"] {
				cursor: pointer;
				background: #c3fc06;
				font-family: $font__opsanboldi;
				text-transform: uppercase;
				border-radius: 0;
				width: 35%; 
				@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .4 ), webkit moz o );

				&:hover {
					color: #fff;
					background: #8dbb00;
				}
			}
		}
	}

	@include media-breakpoint-up( md ) {

		> .col-sm {

			#address-submit {
				height: 55px;
				line-height: 2.3;

				.form-fields-wrap {
				}

				.marker-wrap {
					padding: 0 30px;
					@include font-size(1.5);
				}

				input {
					height: 55px;
					@include font-size(1.5);
				}
			}
		}
	}
}


.pac-container.pac-logo {
	&:after {
		display: none;
	}
}

.upper-message {
	text-transform: uppercase;
}

.problem-title-row {

	.problem-section-title {
		color: #000;
		text-transform: uppercase;
		font-family: $font__opsansemiboldi;
		@include font-size(1.9);
	}

}

.problem-content-row {
	justify-content: center;

	.problem-content {
		@include font-size(1.3);

		span {
			text-transform: uppercase;
		}
	}
}

.referral-wrap {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 25px auto;
	
	.yellow-circle {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		left: 15px;
		width: 25%;
		background: #c3fc06;
		width: 75px;
		height: 75px;
		border-radius: 50%;
		z-index: 5;

		img {
			margin-bottom: 8px;
			max-width: 30px;
		}
	}

	.referral-content {
		position: relative;
		white-space: normal;
		padding: 6px 25px;
		width: 75%;
		border-top: 5px solid #c3fc06;
		border-bottom: 5px solid #c3fc06;
		@include font-size(1);
		line-height: 1.3;
		font-weight: bold;

	}
	
	@include media-breakpoint-up( md ) {
		margin: 50px auto;

		.yellow-circle {
			width: 150px;
			height: 150px;

			img {
				max-width: 80px;
			}
		}

		.referral-content {
			width: 75%;
			white-space: nowrap;
			@include font-size(2.3);
			line-height: 1.3;

		}
	}
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/**
 * This is for on the front-page.php
 */
#testimonials {
	height: auto;

	.testimonial-section-title {
		color: #0b98ce;
		font-family: $font__opsanlight;
		@include font-size(2);
		margin: 2px auto 15px;
	}

	div.testimonial-module {
		position: relative;
		width: 400px;
		max-width: 100%;
	    background: #fff;
	    padding: 15px;
	    border: 3px solid rgba(51, 170, 226, 1);
	    border-radius: 20px;
	    font-size: 1rem;
	    line-height: 1.3;
	    color: #33aae2;
	    margin: 8px auto;

	    .name {
	    	font-family: $font__opsanbold;
	    }

	    a {
	    	float: right;
	    	font-family: $font__opsanlighti;
	    	text-decoration: underline;
	    	color: #33aae2;
	    }
	}

	div#testimonial-module-1 {
		left: 0;
	}

	div#testimonial-module-2 {
		margin-top: 0;
		right: 0;
	}

	div#testimonial-module-3 {
		margin-top: 0;
		left: 0;
	}

	div#testimonial-module-4 {
		margin-top: 0;
		right: 0;
	}

	@include media-breakpoint-up( md ) {
		height: 560px;

		.testimonial-section-title {
			@include font-size(4.5);
		}

		div.testimonial-module {
		}

		div#testimonial-module-1 {
			left: 50%;
		}

		div#testimonial-module-2 {
			margin-top: -25px;
			right: 100%;
		}

		div#testimonial-module-3 {
			margin-top: -25px;
			left: 45%;
		}

		div#testimonial-module-4 {
			margin-top: -35px;
			right: 70%;
		}
	}
}
/**
 * END This is for on the front-page.php
 */

.masonary-grid-img {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	height: 375px;
	position: relative;
	overflow: hidden;
	@include prefix( transition, $grid__transitions, webkit moz o );

	> div {
		width: 100%;
		color: #fff;
		height: 100%;
		position: relative;
		@include prefix( transition, $grid__transitions, webkit moz o );

		a {
			display: inline-flex;
			align-items: flex-end;
			height: 100%;
			width: 100%;
			position: relative;
			z-index: 5;
		}

		h2 {
			position: absolute;
			text-transform: uppercase;
			background: linear-gradient(-213deg, rgba( 0, 0, 0, .4 ), rgba( 0, 0, 0, .8 ) );
			padding: 8px 15px;
			margin: 0;
			top: 75%;
			left: 30px;
			white-space: nowrap;
			@include prefix( transition, $grid__transitions, webkit moz o );
		}

		p {
			position: absolute;
			padding: 8px 15px;
			margin: 0;
			left: 100%;
			align-self: center;
			@include prefix( transition, $grid__transitions, webkit moz o );
		}
	}

	&:before {
		content: '';
		position: absolute;
		background: linear-gradient(-213deg, rgba( 0, 0, 0, .4 ), rgba( 0, 0, 0, .8 ) );
		top: 100%;
		left: 100%;
		right: 100%;
		bottom: 100%;
		opacity: 0;
		border-radius: 50%;
		@include prefix( transition, $grid__transitions, webkit moz o );
	}

	&:after {
		content: '';
		position: absolute;
		border: 3px solid rgba( #fff, .9 );
		top: -8px;
		left: -8px;
		right: -8px;
		bottom: -8px;
		margin: auto;
		opacity: 0;
		border-radius: 8px;
		@include prefix( transition, $grid__transitions, webkit moz o );
	}

	&:hover {

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 1;
			border-radius: 0;
		}

		&:after {
			top: 8px;
			left: 8px;
			right: 8px;
			bottom: 8px;
			opacity: 1;
		}
		
		> div {

			h2 {
				top: 10%;
			}

			p {
				left: 15px;
				right: 15px;
			}
		}
	}
}

.contact-section {
	overflow: hidden;
}

.contact-form-wrap {
	margin: 35px auto;
	padding: 15px;
	width: 900px;
	max-width: 100%;
	background: rgba( #fff, 1 );
	@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .4 ), webkit moz o );

	.gform_wrapper {
		
		h3.gform_title {
			font-size: 2.5rem;
			text-align: center;
		}

		span.gform_description {
			font-size: 1.3rem;
			margin: auto;
			text-align: center;
		}

		ul#gform_fields_1 {
			padding: 0 15px;
		}

		label.gfield_label {
			display: none;
		}

		div.gform_footer {
			text-align: center;
		}

		input, textarea {
			border: 2px solid #35b3ef;
		}

		textarea.textarea.large {
			height: 100%;
		}

		input[type="submit"] {
			cursor: pointer;
			margin: 15px auto;
			background: #c3fc06;
			padding: 15px 20px;
			font-family: $font__opsanbold;
			text-transform: uppercase;
			border-radius: 0;
			border: none;
			@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .4 ), webkit moz o );
		}

	}


	@media only screen and ( min-width: 641px ) {

		.gform_wrapper ul.gform_fields li.gfield {
			width: 48.9%;
			margin: 0;
		}

		.gform_wrapper ul.gform_fields li.gfield:not( :nth-child(4) ) {
			clear: left;
			float: left;
		}

		.gform_wrapper ul.gform_fields li.gfield:nth-child(4) {
			padding: 0;
		    position: relative;
		    float: right;
		    clear: none;
		    margin-top: -105px;
		}
	}
}

#content {
	padding-bottom: $footer__xs;

	@include media-breakpoint-up( sm ) {
		padding-bottom: $footer__sm;
	}

	@include media-breakpoint-up( md ) {
		padding-bottom: $footer__md;
	}

	@include media-breakpoint-up( lg ) {
		padding-bottom: $footer__lg;
	}

	@include media-breakpoint-up( xl ) {
		padding-bottom: $footer__xl;
	}
}

.page {
	section#main {
		height:100%;

		> .row {
			align-items: center;
			justify-content: center;
			min-height: 500px;
		}
	}

	.content-panel {
		background: rgba( #fff, .8 );
		margin: 35px;
		color: #333333;
		@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .4 ), webkit moz o );

		.row.entry-content {
			margin: 0;
			
			.gform_wrapper {
				width: 100%;

				ul.gform_fields {

					li.gfield {
						padding-right: 0;
					}
				}

			}
		}

		a {
			color: #2c98cd;
			@include prefix( text-shadow, 1px 1px 2px rgba( #000, 0 ), o moz webkit );

			&:hover {
				color: $color__link-hover;
				@include prefix( text-shadow, 1px 1px 2px rgba( #000, 1 ), o moz webkit );
			}
		}
	}
}

#colophon {
	@include prefix( box-shadow, 0 1px 6px 0 inset rgba( 0, 0, 0, .5 ), webkit moz o );
	position: absolute;
	bottom: 0;
	height: $footer__xs;
	background: #0b98ce;
	color: #fff;
	overflow: hidden;

	ul {
		list-style: none;
		margin: 0;
	}

	li {
	    padding: 8px 0;
	}

	.footer-left > .row {
		align-items: center;
		justify-content: center;

	}

	.copy-wrap {
		padding: 15px;
		@include font-size(.85);
	}
	small {
		padding: 15px 0;
	    display: inline-block;
		line-height: 1.1;
		font-style: italic;
	}

	.footer-right > .row {
		align-items: center;
		justify-content: center;
	}

	span.circle-icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		@include font-size(3);
		margin: 35px 25px 0;
		padding: 0;
		width: 75px;
		height: 75px;
		background: #fff;
		border-radius: 50%;
		@include prefix( transition, all .3s ease-in-out, webkit moz o );
		@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .4 ), webkit moz o );

	    i.fa {
	    	@include prefix( transition, all .3s ease-in-out, webkit moz o );
	    	@include prefix( text-shadow, 0 0 2px rgba( 0, 0, 0, 0 ), webkit moz o );
	    	color: #2c98ce;
	    }

	    &:hover {
	    	background: #c3fc06;

		    i.fa {
		    	@include prefix( text-shadow, 1px 1px 2px rgba( 0, 0, 0, .2 ), webkit moz o );
		    	color: #2c99ee;
		    }
	    }
	}

	.footer-right > .design-cred {
		align-self: flex-end;
		align-items: flex-end;
	}

	h3.font-upper {
		text-transform: uppercase;
		font-family: $font__opsansemibold;
	}

	.footer-section {
		border: none;
		padding: 25px;
		height: 100%;

		@include media-breakpoint-up( sm ) {
			height: $footer__sm;
			&:not(:last-child) {
				border-right: 1px solid rgba( 255, 255, 255, .6 );
			}
		}

		@include media-breakpoint-up( md ) {
			height: $footer__md;
		}

		@include media-breakpoint-up( lg ) {
			height: $footer__lg;
		}

		@include media-breakpoint-up( xl ) {
			height: $footer__xl;
		}
	}

	.copy-row-sm {
		display: flex;
	}

	.copy-row-md {
		display: none;
	}

	@include media-breakpoint-up( sm ) {
		height: $footer__sm;

		.copy-row-sm {
			display: none;
		}

		.copy-row-md {
			display: flex;
		}
	}

	@include media-breakpoint-up( md ) {
		height: $footer__md;

		.copy-row-sm {
			display: none;
		}

		.copy-row-md {
			display: flex;
		}
	}

	@include media-breakpoint-up( lg ) {
		height: $footer__lg;

		
	}

	@include media-breakpoint-up( xl ) {
		height: $footer__xl;
	}
}