.sticky {
	display: block;
}

/**
 * Header 
 */

#masthead {
	height: 125px;
	background: rgba(0, 0, 0, .5);
	
	.account-row {
		margin: 8px 0;
	}
}

#primary {
	background-size: cover;
	background-repeat: no-repeat; 
}

/**
 * End Header
 */

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.masonary-grid-img {
	height: 375px;
}