.sticky {
	display: block;
}

/**
 * Header 
 */

#masthead {
	position: relative;
	height: 140px;
	background: rgba(0, 0, 0, .5);
	z-index: 100;

	> .row {
		margin-top: 15px;
	}

	a, i {
		color: #fff;
	}
	
	.custom-logo {
		display: flex;
		align-items: center;
		justify-content: center;

		.site-logo {
			max-width: 325px;
		}

		a {
			display: inline-block;
		}
	}

	.account-row {
		margin: 8px 0;

		#sub-menu-icons {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			form {
				overflow: hidden;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-around;
				@include prefix( transition, all .3s ease-in-out, webkit moz o );

				div.search-input-wrap {
					overflow: hidden;
					@include prefix( transition, all .3s ease-in-out, webkit moz o );
				}
				input.slid {
					@include prefix( transition, all .3s ease-in-out, webkit moz o );
					position: relative;
					left: 105%;

					&.active {
						left: 0%;
					}
				}

				#search-btn {
					@include prefix( transition, all .3s ease-in-out, webkit moz o );
					margin: 0 8px;
				}
			}
		}
	}

	.nav-row {
		min-height: 3rem;

		> .col {
			align-self: flex-end;
		}
	}

	#site-navigation {
		max-width: 60%;
		float: right;
	}

	#primary-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-transform: uppercase;
		@include font-size(1);
	}
}

/**
 * End Header
 */

#backdrop {
	position: absolute;
	top: 0;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 70%;
}

#primary {
	position: relative;
	min-height: 425px;
}

.keep-word {
	text-transform: uppercase;
	font-family: $font__opsanbold;
}

.calm-word {
	text-transform: uppercase;
	font-family: $font__main;
}

.arrow-message {
	position: relative;
	color: #fff;
	height: 200px;
	width: 475px;
	margin: 15px auto;
	padding: 60px 65px 60px 30px;
	font-family: $font__opsani;
	font-size: 2.4rem;
	line-height: .95;
	background: url('./assets/img/arrow.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;

	.keep-word {
		font-size: 2.5rem;
	}

	.calm-word {
		font-size: 2.5rem;
	}
}

.top-row-message {
	font-size: 1.7rem;
}

.bottom-row-message {
	display: block;
	clear: both;
}

#address-submit {
	position: relative;
	display: flex;
	align-items: center;
	height: 54px;
	line-height: 2.3;

	.form-fields-wrap {
		@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .4 ), webkit moz o );
		display: flex;
		align-items: center;
		margin: 0 auto;
	}

	.marker-wrap {
		@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .4 ), webkit moz o );
		color: #fff;
		font-size: 1.5rem;
		padding: 0 20px;
		border: none;
		box-sizing: border-box;
		background: rgba( #000, .6 )
	}

	input {
		padding: 8px;
		height: 54px;
		border: none;
		font-size: 1.5rem;
		margin: 0;
	}

	input[type="submit"] {
		@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .4 ), webkit moz o );
		cursor: pointer;
		background: #c3fc06;
		padding: 15px 20px;
		font-family: $font__opsanboldi;
		text-transform: uppercase;
		border-radius: 0;
	}
}

.pac-container.pac-logo {
	&:after {
		display: none;
	}
}

.upper-message {
	text-transform: uppercase;
}

.problem-section-title {
	color: #000;
	text-transform: uppercase;
	font-family: $font__opsansemiboldi;
	font-size: $font__h1-title;
}

.problem-content {
	font-size: 1.3rem;

	span {
		text-transform: uppercase;
	}
}

.referral-wrap {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 70px auto;
	
	.yellow-circle {
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		left: 15px;
		background: #c3fc06;
		width: 150px;
		height: 150px;
		border-radius: 50%;

		img {
			margin-bottom: 8px;
			max-width: 80px;
		}
	}

	.referral-content {
		position: relative;
		white-space: nowrap;
		padding: 6px 25px 6px;
		border-top: 5px solid #c3fc06;
		border-bottom: 5px solid #c3fc06;
		font-size: 2.5rem;
		line-height: 1.3;
		font-weight: bold;

	}
	
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#testimonials {
	height: 560px;

	div.testimonial-module {
		position: relative;
		width: 400px;
	    background: #fff;
	    padding: 15px;
	    border: 3px solid rgba(51, 170, 226, 1);
	    border-radius: 20px;
	    font-size: 1.5rem;
	    color: #33aae2;
	    margin: 8px auto;

	    .name {
	    	font-family: $font__opsanbold;
	    }

	    a {
	    	font-family: $font__opsanlighti;
	    	text-decoration: underline;
	    	color: #33aae2;
	    }
	}

	div#testimonial-module-1 {
		left: 50%;
	}

	div#testimonial-module-2 {
		margin-top: -25px;
		right: 100%;
	}

	div#testimonial-module-3 {
		margin-top: -25px;
		left: 45%;
	}

	div#testimonial-module-4 {
		margin-top: -35px;
		right: 70%;
	}

	.testimonial-section-title {
		color: #0b98ce;
		font-family: $font__opsanlight;
		font-size: 5.5rem;
		margin: 2px auto 15px;
	}
}

.masonary-grid-img {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	height: 375px;

	> div {
		background: linear-gradient(-213deg, rgba( 0, 0, 0, .4 ), rgba( 0, 0, 0, .8 ) );
		margin-bottom: 35px;
		margin-left: 45px;
		text-transform: uppercase;
		color: #fff;
		display: inline-flex;

		> h2 {
			padding: 8px;
			margin: 8px;
		}
	}
}

.contact-section {
	overflow: hidden;
}

.contact-form-wrap {
	@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .4 ), webkit moz o );
	margin: 35px auto;
	padding: 15px;
	width: 900px;
	background: rgba( #fff, 1 );

	.gform_wrapper {
		
		h3.gform_title {
			font-size: 2.5rem;
			text-align: center;
		}

		span.gform_description {
			font-size: 1.3rem;
			margin: auto;
			text-align: center;
		}

		ul#gform_fields_1 {
			padding: 0 15px;
		}

		label.gfield_label {
			display: none;
		}

		div.gform_footer {
			text-align: center;
		}

		input, textarea {
			border: 2px solid #35b3ef;
		}

		textarea.textarea.large {
			height: 100%;
		}

		input[type="submit"] {
			@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .4 ), webkit moz o );
			cursor: pointer;
			margin: 15px auto;
			background: #c3fc06;
			padding: 15px 20px;
			font-family: $font__opsanbold;
			text-transform: uppercase;
			border-radius: 0;
			border: none;
		}

	}


	@media only screen and ( min-width: 641px ) {

		.gform_wrapper ul.gform_fields li.gfield {
			width: 48.9%;
			margin: 0;
		}

		.gform_wrapper ul.gform_fields li.gfield:not( :nth-child(4) ) {
			clear: left;
			float: left;
		}

		.gform_wrapper ul.gform_fields li.gfield:nth-child(4) {
			padding: 0;
		    position: relative;
		    float: right;
		    clear: none;
		    margin-top: -105px;
		}
	}
}

#colophon {
	background: #0b98ce;
	color: #fff;
	@include prefix( box-shadow, 0 1px 6px 0 inset rgba( 0, 0, 0, .5 ), webkit moz o );

	ul {
		list-style: none;
	}

	li {
	    padding: 8px 0;
	}

	.footer-left > .row {
		align-items: center;
		justify-content: center;

		.copy-wrap {
			padding: 15px;
		}
		small {
			padding: 15px 0;
		    display: inline-block;
			line-height: 1.1;
		}
	}

	.footer-right > .row {
		align-items: center;
		justify-content: center;
	}

	span.circle-icon {
		@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .4 ), webkit moz o );
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: 3rem;
		margin: 35px 25px 0;
		padding: 0;
		width: 75px;
		height: 75px;
		background: #fff;
		border-radius: 50%;

	    i.fa {
	    	color: #2c98ce;
	    }
	}

	.footer-right > .design-cred {
		min-height: 55%;
		align-items: flex-end;
	}

	h3.font-upper {
		text-transform: uppercase;
		font-family: $font__opsansemibold;
	}

	.footer-section {
		border: none;
		padding: 25px;

		@media screen and ( min-width: 997px ) {
			&:not(:last-child) {
				border-right: 1px solid rgba( 255, 255, 255, .6 );
			}
		}
	}

}